* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  background-image: url(https://www.freecodecamp.org/news/content/images/size/w2000/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}
